/* products */
.products_box{
    padding: 60px;
    display: flex;
    flex-direction: column;
}
.product{
    padding: 0 10vw 5vh;
}
.product img{
    display: inline-block;
    width: 150px; 
    height : 150px; 
    margin-bottom: 1vh;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}
.product_text_wrapper{
    display: inline-block;
    padding-left: 5vw;
    transform: translateY(25%);
}
.product_text{
    margin-bottom: 1vh;
    text-align: left;
}
.product_title{
    font-size: 18px;
}
.product_created{
    font-size: 85%;
    color: gray;
}
.product hr{
    transform: translateY(1500%);
    /* border: 1px solid rgb(211, 211, 211); */
    color:rgb(184, 184, 184);
}

/* 글쓰기 버튼 */
.create_post {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3%;
}
.create_post .button{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 218, 224);
    border-radius: 50%;
    text-align: center;
    align-items: center;
    line-height: 50px;
    padding: 10px;
    box-shadow: 0px 3px 10px gray;
}
.create_post img{
    width: 40px;
    transform: translate3d(5%, 15%, 0);
}