/* create */
.cu_box{
    padding: 5vw;
}
.cu_box p{
    display: block;
    padding: 3px;
}
.uploadfile{
    padding-top: 5vh;
}
.small_title{
    display: inline-block;
    padding: 0 10px;
}
.desc_text{
    /* padding-top: -100px; */
    transform: translateY(-915%);
}
.small_context{
    display: inline-block;
    width: 84vw;
    padding: 3px;
}
textarea{
    min-height: 200px;
}
input, textarea{
    border: none;
    outline: none;
}
.submit_btn{
    background-color: #f77e68;
    color: white;
    padding: .5em .75em;
    border-radius: .25em;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    font-weight: 700;
}
/* update */
.load_image {
    /* text-align: center; */
    margin-bottom: 5vh;
}
.load_image img{
    display: block;
    width: 300px;
    margin: 5vh 0 0 0;
    border: 1px solid gray;
    border-radius: 10px;
}
.btn_file{
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f77e68;
    cursor: pointer;
    /* border: 1px solid #b8b8b8; */
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.btn_file:hover{
    background-color: #fa593c;
}
