/* create 페이지 */
.cu_box{
    padding: 13vh 10vw;
}
.small_wrapper{
    padding: 2vh;
}
.uploadfile{
    padding-top: 5vh;
}
.small_title{
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    width: 10%;
}
/* .desc_text{
    padding-top: -100px;
    transform: translateY(-915%);
} */
.small_context{
    display: inline-block;
    position: relative;
    left: 10%;
    width: 84vw;
    padding: 0 3px;
}
textarea{
    min-height: 200px;
}
input, textarea{
    border: none;
    outline: none;
}
.submit_btn{
    background-color: #f77e68;
    color: white;
    padding: .5em .75em;
    border-radius: .25em;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    font-weight: 700;
}
/* update 페이지 */
.load_image {
    /* text-align: center; */
    margin-bottom: 5vh;
}
.load_image img{
    display: block;
    width: 300px;
    margin: 5vh 0 0 0;
    border: 1px solid gray;
    border-radius: 10px;
}
.btn_file{
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f77e68;
    cursor: pointer;
    /* border: 1px solid #b8b8b8; */
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.btn_file:hover{
    background-color: #fa593c;
}

/* read 페이지 */
.products_box{
    padding: 60px;
    display: flex;
    flex-direction: column;
}
.product{
    margin: 0 auto;
    width: 40%;
}
.product img{
    width: 100%;
    margin-bottom: 1vh;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}
.product_text_wrapper{
    margin-top: 5vh;
}
.product_text{
    text-align: left;
}
.product_title, .product_price{
    font-size: 20px;
}
.product_created, .product_deal{
    font-size: 85%;
    color: gray;
}
.product_description{
    position: relative;
    white-space: pre;
    line-height: 2;
}
.product_description p{
    position: absolute;
    top: 25%;
    margin: 0;
}
.product_deal{
    margin-bottom: 3vh;
}
/* 수정, 삭제 버튼 // 가격제안 버튼 */
.button_wrapper{
    display: block;
}
.update_post, .delete_post, .deal_btn{
    display: inline-block;
}
.update_post button, .deal_btn{
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f77e68;
    cursor: pointer;
    border: none;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.update_post button:hover, .deal_btn:hover{
    background-color: #fa593c;
    color: #fff;
}
.delete_post button{
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #858585;
    cursor: pointer;
    border: none;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.delete_post button:hover{
    background-color: #5f5f5f;
}
/* 모달 */
.modal_wrapper{
    display: block;
    position: relative;
}
.modal_head{
    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    width: 15%;
}
.modal_context{
    display: inline-block;
    position: relative;
    left: 15%;
    width: 84%;
    padding: 3px;
    min-height: 30px;
}
.description_box{
    display: block;
    min-height: 100px;
    margin-bottom: -15px;
}