*{
	margin:0;
	padding:0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  text-decoration: none;
  font-weight: 700;
}
button {
  cursor: pointer;
}

:root{
	--body-background-color: #f5f6f7;
	--font-color: #4e4e4e;
	--border-gray-color : #dadada;
	--naver-green-color: #04c75a;
	--naver-green-border-color: #06b350;
}
.main-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 9vh;
}
.main-container .main-wrap{
	width:768px;
}
.main-container .main-wrap .logo-wrap{
	display:flex;	
	flex-direction: column;
	align-items: center;
	padding-top:25px;
}
.main-container .main-wrap .logo-wrap img
{
	height: 150px;
}
.main-container .main-wrap .logo-wrap img:last-child{
	width: 350px;
	height: 100%;
}

.login-input-section-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-input-wrap{
	width: 465px;
	height: 48px;
	border: solid 1px var(	--border-gray-color );
	background: white;
}
.password-wrap{
	margin-top: 2vh;
}
.login-input-wrap input{
	border: none;
	outline: none;
	width: 430px;
	margin: 10px 0 0 10px;
	font-size: 14px;
	height: 30px;
}
.login-button-wrap {
	padding-top: 2vh;
}
.login-button-wrap button{
	width: 465px;
	height: 48px;
	font-size: 18px;
	background: rgb(250, 109, 133);
	color: white;
	border: solid 1px pink;
	outline: none;
}
.Sign-up-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	font-size: 20px;
}
.Sign-up-wrap h4{
	font-size: 15px;
	padding-bottom: 2vh;
	font-weight: 400;
}