.posts_box {
    padding: 30px;
    text-align: center;
}
.posts_box h1{
    padding: 10vh 0 15vh;
}
.posts_wrapper{
    display: block;
    width: 70%;
    margin: 0 auto;
}
.post{
    display: inline-block;
    padding: 0 2vw 4vw;
}

.post img{
    width: 150px; 
    height : 150px; 
    margin-bottom: 2vh;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}
.post_text{
    margin-bottom: 1vh;
    text-align: left;
}
.post_created{
    font-size: 85%;
    color: gray;
}
/* 글쓰기 버튼 */
.create_post {
    position: fixed;
    right: 3.2%;
    bottom: 30px;
}
.create_post .button{
    width: 69.5px;
    height: 69.5px;
    background-color: rgb(255 230 218);
    border-radius: 50%;
    text-align: center;
    align-items: center;
    line-height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0.5px 10px #c1c1c1;
}
.create_post img{
    width: 33px;
    transform: translate3d(5%, -15%, 0);
}
/* toTop 버튼 */
.btn_gotop {
    display: none;
	position: fixed;
	bottom: 45px;
	right: 3.4%;
	z-index: 999;
	border: 1px solid #ccc;
	outline: none;
	background-color: white;
	color: #333;
	cursor: pointer;
	padding: 20px 12px;
	border-radius: 100%;
    box-shadow: 0px 0.5px 10px #dcdcdc;
}
.btn_gotop_logined {
    display: none;
	position: fixed;
	bottom: 130px;
	right: 3.4%;
	z-index: 999;
	border: 1px solid #ccc;
	outline: none;
	background-color: white;
	color: #333;
	cursor: pointer;
	padding: 20px 12px;
	border-radius: 100%;
    box-shadow: 0px 0.5px 10px #dcdcdc;
}