<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기 : SHARE & FAIR</title>
</head>
<body>
    <div class="header" id="head">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a href="/"><img src="/images/logo_letter_transparent.png" /></a>
                </div>
                <div class="top-menu">
                    <span class="menu"> </span>
                    <ul>
                        <nav class="cl-effect-5">
                            <li><a class="active" href="/"><span data-hover="메인">메인</span></a></li>
                            <li><a href="#products" class="scroll"><span data-hover="판매글"><span>판매글</span></a></li>
                            <li><a href="#notice" class="scroll"><span data-hover="알림">알림</span></a></li>
                            <li><a href="#contact" class="scroll"><span data-hover="정보">정보</span></a></li>
                            <% if (login == undefined) { %>
                                <li><a href="/login" class="scroll"><span data-hover="로그인">로그인</span></a></li>
                            <% } else { %>
                                <li><a href="/logout" class="scroll"><span data-hover="로그아웃">로그아웃</span></a></li>
                            <% } %>
                        </nav>
                    </ul>
                </div>
                <div class="create-box">
                    <h2>거래글 작성</h2>
                    <form action="/process_create" method="POST" enctype="multipart/form-data">
                        <p><input type="file" name="uploadfile" class="uploadfile" value="" /></p>
                        <p><div class="title_text">제목</div><input class="title_box" type="text" name="title" placeholder="제목" autocomplete="off"></p>
                        <p><div class="title_text">가격</div><input class="title_box" type="text" name="title" placeholder="가격" autocomplete="off"></p>
                        <p><div class="desc_text">내용</div><textarea class="description_box" name="description" placeholder="게시글 내용을 작성해주세요." autocomplete="off"></textarea></p>
                        <p><input class="submit_btn" type="submit"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>