<div class="header" id="head">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a href="/"><img src="/images/logo_letter_transparent.png" /></a>
            </div>
            <div class="top-menu">
                <span class="menu"> </span>
                <ul>
                    <nav class="cl-effect-5">
                        <% if (logined) { %>
                            <li><p><%= login %>님</p></li>
                        <% } %>
                        <li><a class="active" href="/"><span data-hover="메인">메인</span></a></li>
                        <li><a href="/board" class="scroll"><span data-hover="판매글"><span>판매글</span></a></li>
                        <li><a href="#search" class="scroll"><span data-hover="검색">검색</span></a></li>
                        <li><a href="/users" class="scroll"><span data-hover="MY&nbsp;S&F">MY&nbsp;S&F</span></a></li>
                        <% if (!logined) { %>
                            <li><a href="/login" class="scroll"><span data-hover="로그인">로그인</span></a></li>
                        <% } else { %>
                            <li><a href="/logout" class="scroll"><span data-hover="로그아웃">로그아웃</span></a></li>
                        <% } %>
                    </nav>
                </ul>
            </div>
        </div>
    </div>
</div>