<!DOCTYPE html>
<html>
<head>
    <title>로그인 : SHARE & FAIR</title>
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/loginstyle.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="main-container">
        <div class="main-wrap">
            <header>
                <a href="/">
                    <div class="logo-wrap">
                        <img src="/images/logo_icon_transparent.png">
                        <img src="/images/logo_letter_transparent.png">
                    </div>
                </a>
            </header>
            <section class="login-input-section-wrap">
                <form action="/login" method="POST">
                    <div class="login-input-wrap">
                        <input name="id" placeholder="아이디" type="text" id="id" required></input>
                    </div>
                    <div class="login-input-wrap password-wrap">
                        <input name="pwd" placeholder="비밀번호" type="password" id="pwd" required></input>
                    </div>
                    <div class="login-button-wrap">
                        <button type="submit">로그인</button>
                    </div>
                </form>
            </section>
            <section class="Sign-up-wrap">
                <h4>아직 회원이 아니신가요?</h4>
                <a href="/signup">회원가입</a>
            </section>
        </div>
    </div>
</body>
</html>
