<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <title>MY SHARE & FAIR</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <% include header.ejs %>
    </header>
    <div class="view_box">
        <div class="profile_box">
            <form action="/users/users_editimg" class="profile_wrapper" method="POST" enctype="multipart/form-data">
                <div class="edit_img_wrapper">
                    <label class="profile_img_box" for="uploadfile">
                        <% if (userimg) { %>
                            <img id ="previewProfile" class="profile_img" src="/images/uploaded/<%= userimg %>">
                        <% } else { %>
                            <img id ="previewProfile" class="profile_img" src="/images/default_image.PNG">
                        <% } %>
                    </label>
                    <input type="file" name="uploadfile" id="uploadfile" onchange="readImg(this)" required/>
                    <% if (userimg) { %>    <!-- 프로필이미지 편집용 이미지 -->
                        <img class="edit_img" src="/images/default_image.PNG">
                    <% } %>
                </div>
                <div class="profile_text_box">
                    <span><%= username %> 님</span>
                    <button type="submit" class="edit_profile">프로필 수정 반영하기</button>
                </div>
            </form>
        </div>
        <div class="little_box my_sales">
            <a href="/users/users_sales">
                <div class="img_wrapper">
                    <img class="sales_img" src="/images/users_sales.png">
                </div>
                <h4>판매내역</h4>
            </a>
        </div>
        <div class="little_box my_deals">
            <a href="/users/users_deals">
                <div class="img_wrapper">
                    <img class="deals_img" src="/images/users_deals.png">
                </div>
                <h4>가격제안 내역</h4>
            </a>
        </div>
        <div class="little_box my_chatting">
            <a href="/users/users_chatting">
                <div class="img_wrapper">
                    <img class="chatting_img" src="/images/users_chatting.png">
                </div>
                <h4>채팅 내역</h4>
            </a>
        </div>
    </div>
    <% include footer.ejs %>
    <script src="/javascripts/readImg.js"></script>
</body>
</html>